---
layout: default
---

{% comment %}
	Es gibt 2 Versionen des Page-Template: V1 (diese Version) hat kein Hintergrundbild und V2 hat ein Hintergrundbild. Aber nur dann, wenn es im Front Matter der Seite mit "image:" und dem Bild enthalten ist.
{% endcomment %}

<section class="headline">
  {% if page.headline %}
  <header class="my_header">
    <hgroup class="uk-container uk-container-center uk-text-center">
        <h1> {{ page.headline }}</h1>
        <h2> {% if page.subline %}{{ page.subline }}{% endif %}</h2>
      </hgroup>
  </header>
  {% endif %}
</section>

<section class="my_content">
  {{ content }}
</section>
