section
  // Linke Spalte
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-medium-1-2
        div
          h2 Für Google optimierte Webseiten
          p Wissen Sie, dass ca. <strong>80% aller Webseiten</strong> im Internet nicht für die Suchmaschinen wie z.B. Google <strong>optimiert</strong> sind? Falls Ihre Webseite auch dazugehört, sprechen Sie bitte mit uns!
          p Allgemein bekannte Analysen zeigen, dass <strong>% der Benutzer</strong> auf die <strong>ersten 5 Suchergebnisse</strong> schauen und nur noch 20% auf das Ende der ersten Ergebnisseite.
          p <strong>Von diesen 80% nutzen weniger als 20% die rechts stehenden (bezahlten) Suchergebnisse.</strong>
          p Es gibt sehr viele Möglichkeiten, das sogenannte „Page-Rank“ wesentlich und nachhaltig zu verbessern. Die Suchmaschinen ordnen die gefundenen Webseiten nämlich nach ihrer Relevanz (Wichtigkeit) ein. Aber wie beurteilen die Suchmaschinen diese Wichtigkeit? Früher reichte es schon, die richtigen Schlüsselwörter (Keywords) in den Metatags unterzubringen. Heute allerdings werden diese Metatags von kaum noch einer Suchmaschine mehr berücksichtigt und sind somit quasi ohne Bedeutung.

        div
          h2 Suchmaschinen Optimierung
          p Wir bei confidea wissen, was zu tun ist und analysieren gemeinsam mit Ihnen die wichtigen, für die Suchmaschinen relevanten Elemente Ihrer Webpräsenz.
          p Darüber hinaus erarbeiten wir mit Ihnen effiziente Maßnahmen, um Ihre Webseite in den Suchergebnissen auf die vorderen Plätze zu bringen.
          p Nutzen Sie jetzt unser #[a(href="/kontakt") Kontaktformular] und wir setzen uns unverzüglich mit Ihnen in Verbindung!

      .uk-width-medium-1-2
        div
          h2 Suchmaschinen Optimierung für Ihre Webseite
          p <strong>Suchmaschinen Optimierung für Ihre Webseite</strong> mit unserer Hilfe. Die Wahrscheinlichkeit, dass es sehr viele ähnliche Angebote und Webseiteninhalte gibt, trifft sicher auch auf Ihr Unternehmen zu.
          p Um so wichtiger ist es, die <strong>richtige "Finde-Strategie"</strong> zu haben. Ihr potentieller <strong>Kunde sucht</strong> etwas <strong>und findet Ihre Webseite</strong> und somit Ihr Unternehmen.

          h3 Aber wie geht das: Suchmaschinen Optimierung?

          p Hier spielen sehr viele Komponenten zusammen.
          p Angefangen bei dem Seitentitel über die Beschreibung der Bilder hin zum Inhalt gibt es sehr viele Dinge, die Sie für ein Top-Ranking beachten müssen.
          p Und glauben Sie nicht denen, die sagen, dass sie Ihre Webseite quasi über Nacht auf Platz 1 der Suchergebnisse bringen. Das mag vielleicht sogar kurzfristig klappen, aber nur mit unerlaubten Tricks. Und die werden ganz schnell von den Suchmaschinen entdeckt und Ihre Webseite wird abgestraft. Es kann sogar passieren, dass sie gänzlich aus dem Index geworfen wird. Und dann da wieder hineinzukommen, ist unglaublich kompliziert und langwierig. <strong>Lassen Sie es besser nicht darauf ankommen!</strong>
          p Wir haben Ihnen unter #[a(href="/downloads") Checklisten] u. a. eine kostenlose #[a(href="/downloads/seo-checkliste") SEO-Checkliste] zusammengestellt - #[a(href="/downloads") bitte bedienen Sie sich].
