.uk-container.uk-container-center
  p Hier finden Sie uns:

  p.uk-h2 Das bin ich: {{ site.data.adresse.name }}
  p Dies ist meine Strasse: {{ site.data.adresse.strasse }}
  p Und hier ist meine Postleitzahl: {{ site.data.adresse.plz }} im Ort: {{ site.data.adresse.ort }}
  p Mobiltelefon: {{ site.data.adresse.mobil }}
  p Festnetz: {{ site.data.adresse.telefon }}
