
<section class="lm-color-2">
  <div class="uk-container uk-container-center">
    <h2 class="uk-text-center">Beratung und Schulung</h2>
    <div class="uk-grid">
      <div class="uk-width-medium-1-2">
        <p>Im Fokus unserer Beratung und Schulung stehen alle Themen rund um das Internet und wie Sie <span class="uk-h3">neue Kunden</span> gewinnen. Mit Hilfe unserer <span class="uk-h3">Webseiten-Formel</span> schaffen Sie das ganz leicht.</p>
        <p>Wir unterstützen Sie beim Finden der besten Strategie für Ihren Internetauftritt. Entweder mit Ihrer bestehenden Webseite, die wir für Sie optimieren, oder mit einer ganz neuen Webseite, für die wir gemeinsam faszinierende Ideen entwickeln. Selbstverständlich sorgen wir dafür, dass Sie Ihr mühsam erworbenes Ranking nicht verlieren.</p>
        <p>Dann betrachten wir die Situation von innen und aussen und machen Ihnen konkrete Vorschläge, wie Sie die Bedürfnisse Ihrer Kunden mit Ihren Produkten möglichst genau über das Internet treffen und so letztendlich neue Kunden gewinnen.</p>
      </div>
      <div class="uk-width-medium-1-2">
        <p>Die gemeinsamen Erkenntnisse setzen wir dann in ein <span class="uk-h3">faszinierendes Design</span> um und programmieren nach den neuesten Erkenntnissen und Methoden. So bleibt Ihre Webseite <span class="uk-h3">zukunftssicher</span> und muss auch bei Erweiterungen nicht neu gemacht werden.</p>
        <p>Vorschläge für eine regelmäßige <span class="uk-h3">Erfolgskontrolle</span> machen wir Ihnen auch und zeigen Ihnen so die Verbesserungen, die Sie mit Ihrer neuen Webseite erzielen. Aber das werden Sie ohnehin am gestiegenen Umsatz merken.</p>
        <p>Nutzen Sie jetzt unser Kontaktformular und wir setzen uns schnellstmöglich mit Ihnen in Verbindung!</p>
      </div>
    </div>
    <h2 class="uk-text-center">Schauen Sie mal im Bereich <a href="/webdesign-responsive-webseite">Webdesign</a> vorbei.</h2>
  </div>
</section>