section
  .uk-container.uk-container-center.uk-text-center
    img(src='/assets/images/confidea-beispiel2-1000.png' alt='Confidea Beispielwebseite 1')
    p Eine #[a(href="http://beispiel2.confidea.de") moderne responsive Webseite] für viele Anwendungsbereiche. Der große Kopfbereich mit einem Bild zieht die Aufmerksamkeit des Besuchers an und genau hier ist auch die zentrale Botschaft platziert.
    p Dieses Webdesign ist auf einen Blick sehr informativ und lädt den Besucher zum Erforschen ein.
    p Auf der #[a(href="http://beispiel2.confidea.de") Webseite] finden Sie oben rechts diesen Link #[img(class="zurueck" src="/assets/images/zureck-zu-confidea.png" alt="Zurück zu Confidea")], der Sie wieder hierhin zurück bringt.
    a(href='http://beispiel2.confidea.de') Beispiel 2
      button.uk-button.uk-width-1-1
        span Zum Webdesign Beispiel 2 hier klicken
