
<section class="lm-color-2">
  <div class="uk-container uk-container-center uk-text-center"><img src="/assets/images/confidea-beispiel1-1000.png" alt="Confidea Beispielwebseite 1"/>
    <p>Eine <a href="http://beispiel1.confidea.de">Webseite für verschiedene Geschäftsbereiche</a> in klassischem, modernem Design mit einem Bildwechsler am Kopf der Webseite.</p>
    <p>Die Aufmerksamkeit des Besuchers wird sofort auf die Bilder und die Texte gelenkt. Auf dieser Webseite gibt es eine gute Mischung von Text und Bildern.</p>
    <p>Auf der <a href="http://beispiel1.confidea.de">Webseite</a> finden Sie oben rechts diesen Link <img class="zurueck" src="/assets/images/zureck-zu-confidea.png" alt="Zurück zu Confidea"/>, der Sie wieder hierhin zurück bringt.</p><a href="http://beispiel1.confidea.de">Beispiel 1
      <button class="uk-button uk-width-1-1"><span>Zum Webdesign Beispiel 1 hier klicken</span></button></a>
  </div>
</section>