section
  .uk-container.uk-container-center
    h2 Hier werden Sie bald viele Live-Beispiele sehen können
    p Wir erstellen gerade ein umfangreiches Portfolio verschiedenster Webseiten-Beispiele. Darauf dürfen Sie gespannt sein!
    p Sie können die Bilder künftig anklicken und gelangen so automatisch zu dem Webseiten-Beispiel.

    .uk-grid.uk-grid-width-medium-1-3.uk-margin-large-top(data-uk-grid-margin)
      div
        img(src="/assets/images/confidea-beispiel1-400.png" alt="Confidea Beispiel Webseite 1")
      div
        img(src="/assets/images/confidea-beispiel2-400.png" alt="Confidea Beispiel Webseite 2")
      div
        img(src="/assets/images/confidea-beispiel3-400.png" alt="Confidea Beispiel Webseite 3")
