
<section class="lm-color-3 videos-bilder">
  <div class="uk-container uk-container-center uk-text-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2">
        <div>
          <h2>Wissen Sie schon, wie stark kurze Videos Ihren Verkaufserfolg steigern?</h2>
          <h3>Schauen Sie mal <a href="/internet-videos">diese Beispiele</a> an!</h3><a href="/internet-videos">
            <button class="uk-button uk-button uk-width-1-1"><span>Hier klicken</span></button></a>
        </div>
      </div>
      <div class="uk-width-medium-1-2">
        <div>
          <h2>Kennen Sie schon die Wirkung von dynamischen Bildergalerien?</h2>
          <h3>Schauen Sie mal <a href="/bildergalerie">diese Beispiele</a> an!</h3><a href="/bildergalerie">
            <button class="uk-button uk-button uk-width-1-1"><span>Hier klicken</span></button></a>
        </div>
      </div>
    </div>
  </div>
</section>