section.lm-color-3.videos-bilder
  .uk-container.uk-container-center.uk-text-center
    .uk-grid
      .uk-width-medium-1-2
        div
          h2 Wissen Sie schon, wie stark kurze Videos Ihren Verkaufserfolg steigern?
          h3 Schauen Sie mal #[a(href="/internet-videos") diese Beispiele] an!
          a(href='/internet-videos')
            button.uk-button.uk-button.uk-width-1-1
              span Hier klicken

      .uk-width-medium-1-2
        div
          h2 Kennen Sie schon die Wirkung von dynamischen Bildergalerien?
          h3 Schauen Sie mal #[a(href="/bildergalerie") diese Beispiele] an!
          a(href='/bildergalerie')
            button.uk-button.uk-button.uk-width-1-1
              span Hier klicken
