
<section class="lm-color-3">
  <div class="uk-container uk-container-center">
    <h2 class="uk-h1 uk-text-center">Beauftragen Sie Spezialisten!</h2>
    <p class="uk-h3 uk-margin-large-bottom">Wenn Sie sich nach der Analyse entschieden haben, Ihre Webseite zu verbessern und zu modernisieren, können Sie dies mit Hilfe Ihrer Mitarbeiter oder Spezialisten tun, die Sie für das Projekt beauftragen.</p>
    <div class="uk-grid">
      <div class="uk-width-medium-1-2 uk-margin-large-bottom">
        <h2>Generelles</h2>
        <p>Die Verbesserung unserer Webseiten ist eine Aufgabe, die eigentlich täglich gemacht werden sollte, weil sich ja auch das wettbewerbsintensive Marktumfeld quasi täglich verändert.</p>
        <p>Indem Sie Ihre Webseite immer auf dem neuesten Stand halten, verbessern Sie die Efﬁzienz Ihres Unternehmens und steigern die Zufriedenheit Ihrer Kunden. Das ist ein langer und manchmal beschwerlicher Weg, aber er führt zum Erfolg - garantiert!</p>
      </div>
      <div class="uk-width-medium-1-2">
        <h2>Unsere Webdesign Produkte und Dienstleistungen</h2>
        <ul>
          <li>Beratung und Konzeption</li>
          <li>Analyse der bestehenden Webseite</li>
          <li>1:1 Übernahme mit HTML5 und CSS3</li>
          <li>Responsives Design für Smartphones und Tablets</li>
          <li>Optimierung der Ladezeiten</li>
          <li>Analyse und Wunschliste im Rahmen eines Workshops</li>
          <li>Skizzen mit den ersten Gedanken, um die Richtung festzulegen</li>
          <li>Erarbeitung der Linkstruktur</li>
          <li>Optimale Platzierung der Elemente</li>
          <li>Design und Layout</li>
          <li>Wireframes für alle Seiten</li>
          <li>Programmierung interaktiver Elemente</li>
          <li>Animationen und grafische Benutzeroberflächen</li>
          <li>Fotografie, Bildauswahl, Bildbearbeitung</li>
          <li>Videoproduktion, Einbindung in die Website</li>
        </ul>
      </div>
    </div>
  </div>
</section>