section.lm-color-3
  .uk-container.uk-container-center
    h2.uk-text-center Treffen Sie jetzt eine Entscheidung!
    p.uk-h3 Nun müssen Sie entscheiden, ob Ihre Webseite umfassende Verbesserungen (wie komplette Neukonstruktion oder Migration zu einem Content Management System) oder nur kleinere Verbesserungen benötigt und Modiﬁkationen einiger Elemente ausreichend sind.
