.uk-accordion-content {
  background-color: lighten($conf-box, 60%);
  padding-top: $accordion-content-padding-top;
  margin-bottom: rem-calc(20px);
  ul {
    li:not(:last-child) {
      margin-bottom: rem-calc(20px);
    }
  }
}

h3.uk-accordion-title.uk-active {
  margin-bottom: 0;
}
