@import url(https://fonts.googleapis.com/css?family=Ubuntu|Roboto);

// Rechten Scrollbalken erzwingen
html {
  overflow-y: scroll;
}

// Code für Darstellung formatieren
:not(pre) > code, :not(pre) > kbd, :not(pre) > samp {
    font-size: em-calc(16px);
    background-color: rgba(189, 195, 199, .6);
    padding: 0 em-calc(5px);
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
}

.icon {
  color: $conf-brand;
  padding-right: em-calc(10px);
}

a {
  transition: all ease .8s;
}
