// SASS style sheet Palette color codes
$rgba-primary-0: rgba(2,84,157,1);
$rgba-primary-1: rgba(1,55,102,1);

// Eigene Variablen
$conf-brand: $rgba-primary-0;
$conf-text: $rgba-primary-1;
$conf-white: #fff;
$conf-box: $conf-brand;
$conf-transparent: lighten($conf-brand, 5%);
$conf-footer: darken($conf-brand, 10%);

$head-font: 'Ubuntu', sans-serif;
$text-font: 'Roboto', sans-serif;
$nav-font: $head-font;

$base-heading-font-family : $head-font, Helvetica, Arial, sans-serif;

$base-body-color : $conf-text;
$base-heading-color : $conf-text;
$base-link-color : $conf-text;

$accordion-content-padding-top : $accordion-title-padding-horizontal;

// Farben der Webseite
$navbar-background: $conf-white;
$navbar-nav-color: $conf-text;
$navbar-nav-height: 100px;
$navbar-nav-font-size: 16px;
$navbar-nav-font-family : $nav-font, Helvetica, Arial, sans-serif;
$navbar-nav-hover-background: lighten($conf-brand, 40%);
$navbar-nav-hover-color: $conf-white;
$navbar-nav-active-background: lighten($conf-brand, 65%);
$navbar-nav-active-color: $conf-text;

$button-back: $navbar-nav-active-background;
$button-back-hover: lighten($conf-brand, 30%);

$base-link-color : lighten($conf-brand, 7%);
$base-link-text-decoration : none;
$base-link-hover-color : #059;
$base-link-hover-text-decoration : underline;
