@mixin lm_margin_top {
  padding-top: em-calc(20px);
  padding-bottom: em-calc(10px);
}

@mixin lm_tabs_content {
  background-color: lighten($my_brand, 60%);
  padding-left: em-calc(200px);
  padding-right: em-calc(200px);
}

@mixin lm_section_border {
  border-top: 1px solid $my_brand;
  border-bottom: 1px solid $my_brand;
}
