.lm_header {
  min-height: rem-calc(200px);
  border-top: 1px solid $my_brand;
  border-bottom: 1px solid $my_brand;
  /* Die Farbe kommt von http://flatuicolors.com/ */
  padding-top: em-calc(80px);
  @include bp(small) {
    padding-top: rem-calc(20px);
  }
  h2 {
    padding-bottom: em-calc(20px);
    @include bp(small) {
      font-size: 130%;
      line-height: 1.2;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  h1 {
    @include bp(small) {
      font-size: 160%;
      line-height: 1.2;
    }
  }
}

section.post-headline .lm_header {
  min-height: rem-calc(100px);
}

h2.post-title {
  font-size: em-calc(30px);
  font-weight: bolder;
}

section.headline {
  margin-bottom: 0;
  padding-bottom: 0;
}

section.lm_content {
  margin-top: 0;
  padding-top: 0;
  @include bp(max,767px) {
    p:last-child {
      margin-bottom: rem-calc(30px);
    }
  }
  h2 {
    @include bp(small) {
      font-size: 130%;
      text-align: center;
    }
  }
}

.lm_projekt_diskutieren {
  min-height: rem-calc(400px);
  > div {
    padding-top: em-calc(180px);
    > a {
      color: $my_brand;
      background-color: $my_transparent;
      padding: em-calc(30px);
    }
  }
}

.lm_downloadbereich {
  min-width: 100%;
  ul {
    list-style-type: none;
    padding-top: em-calc(8px);
    margin-bottom: em-calc(7px);
    li {
      display: inline;
    }
    li:not(:last-child) {
      padding-right: 10px;
    }
  }
  .active-download {
    background-color: $navbar-nav-active-background;
    padding: em-calc(10px);
  }
}

.google-oben {
  padding: em-calc(50px) 0;
}

.testimonial {
  color: $my_brand;
}

.videos-bilder div div div div {
  @include bp(small) {
    padding-bottom: 50px;
  }
}

.post-title {
  margin-top: rem-calc(50px);
}

section.post-headline {
  padding: 0;
}

.lm_footer_untertitel {
  margin-top: rem-calc(-10px);
  color: $my_white;
}
