section
  .uk-container.uk-container-center
    .uk-grid(data-uk-grid-margin)
      .uk-width-medium-1-2.lm-col-group-height
        h2.uk-animation-fade
          i.icon.uk-icon-calendar
          a(href='/webdesign-responsive-webseite') Vom Design zur Webseite in 2 Wochen

        p Wir nehmen Ihr Webdesign und machen daraus eine <span class="uk-h3">schnelle, sichere und stabile Webseite</span>, die Sie jederzeit erweitern und ganz einfach pflegen können.
        a.uk-button.uk-button-large.uk-width-1-1.uk-animation-shake(href='/webdesign-responsive-webseite' role='button')
          i.icon.uk-icon-eye
          span Mehr lesen

      .uk-width-medium-1-2.lm-col-group-height
        h2.uk-animation-fade
          i.icon.uk-icon-tablet
          a(href='/responsives-design') Responsives Design für moderne Geräte

        p Wir sorgen dafür, dass Ihre Webseite <span class="uk-h3">auf allen Geräten immer top lesbar</span> ist und gut aussieht. Smartphone und Tablet werden schon zu 40% zum Surfen genutzt!
        a.uk-button.uk-button-large.uk-width-1-1.uk-animation-shake(href='/responsives-design' role='button')
          i.icon.uk-icon-eye
          span Mehr lesen

      .uk-width-medium-1-2.lm-col-group-height
        h2.uk-animation-fade
          i.icon.uk-icon-sitemap
          a(href='/service-und-support') Analyse, Design, Entwicklung

        p Wir machen Ihre bestehende Webseite fit für die moderne Kommunikationswelt und sorgen dafür, dass Sie <span class="uk-h3">sofort neue Kunden über das Internet gewinnen</span>.
        a.uk-button.uk-button-large.uk-width-1-1.uk-animation-shake(href='/service-und-support' role='button')
          i.icon.uk-icon-eye
          span Mehr lesen

      .uk-width-medium-1-2.lm-col-group-height
        h2.uk-animation-fade
          i.icon.uk-icon-eye
          a(href='/beispiele-webdesign') Ein paar Beispiele zum Anschauen

        p Wir haben Ihnen hier ein paar <span class="uk-h3">Beispiele</span> zusammengestellt, die teilweise von unseren Kunden erfolgreich eingesetzt werden.
        a.uk-button.uk-button-large.uk-width-1-1.uk-animation-shake(href='/beispiele-webdesign' role='button')
          i.icon.uk-icon-eye
          span Mehr lesen
