
<section>
  <div class="uk-container uk-container-center">{% image 300xauto confidea-beispiel1-1000.png class="alignleft" %}
    <div class="uk-grid" data-uk-grid-margin="data-uk-grid-margin">
      <div class="uk-width-medium-1-2 lm-col-group-height">
        <h2 class="uk-animation-fade"><i class="icon uk-icon-calendar"></i><a href="/webdesign-responsive-webseite">Vom Design zur Webseite in 2 Wochen</a></h2>
        <p>Wir nehmen Ihr Webdesign und machen daraus eine <span class="uk-h3">schnelle, sichere und stabile Webseite</span>, die Sie jederzeit erweitern und ganz einfach pflegen können.</p><a class="uk-button uk-button-large uk-width-1-1 uk-animation-shake" href="/webdesign-responsive-webseite" role="button"><i class="icon uk-icon-eye"></i><span>Mehr lesen</span></a>
      </div>
      <div class="uk-width-medium-1-2 lm-col-group-height">
        <h2 class="uk-animation-fade"><i class="icon uk-icon-tablet"></i><a href="/responsives-design">Responsives Design für moderne Geräte</a></h2>
        <p>Wir sorgen dafür, dass Ihre Webseite <span class="uk-h3">auf allen Geräten immer top lesbar</span> ist und gut aussieht. Smartphone und Tablet werden schon zu 40% zum Surfen genutzt!</p><a class="uk-button uk-button-large uk-width-1-1 uk-animation-shake" href="/responsives-design" role="button"><i class="icon uk-icon-eye"></i><span>Mehr lesen</span></a>
      </div>
      <div class="uk-width-medium-1-2 lm-col-group-height">
        <h2 class="uk-animation-fade"><i class="icon uk-icon-sitemap"></i><a href="/service-und-support">Analyse, Design, Entwicklung</a></h2>
        <p>Wir machen Ihre bestehende Webseite fit für die moderne Kommunikationswelt und sorgen dafür, dass Sie <span class="uk-h3">sofort neue Kunden über das Internet gewinnen</span>.</p><a class="uk-button uk-button-large uk-width-1-1 uk-animation-shake" href="/service-und-support" role="button"><i class="icon uk-icon-eye"></i><span>Mehr lesen</span></a>
      </div>
      <div class="uk-width-medium-1-2 lm-col-group-height">
        <h2 class="uk-animation-fade"><i class="icon uk-icon-eye"></i><a href="/beispiele-webdesign">Ein paar Beispiele zum Anschauen</a></h2>
        <p>Wir haben Ihnen hier ein paar <span class="uk-h3">Beispiele</span> zusammengestellt, die teilweise von unseren Kunden erfolgreich eingesetzt werden.</p><a class="uk-button uk-button-large uk-width-1-1 uk-animation-shake" href="/beispiele-webdesign" role="button"><i class="icon uk-icon-eye"></i><span>Mehr lesen</span></a>
      </div>
    </div>
  </div>
</section>