section.lm-designer.uk-hidden-small
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-medium-1-2
        h2 Sie haben keinen Designer? Wir schon!
        p.uk-h3 Wir sind Spezialisten für Webseiten-Entwicklung. Und darauf konzentrieren wir uns. Aber ohne Designer geht's nun mal nicht, wenn man ein individuelles Layout haben möchte. Darum haben wir Partnerschaften mit großartigen Designerinnen und Designern.
        p Wenn das Design fertig ist, bauen wir Ihre fantastische Webseite.

      .uk-width-medium-1-2
        h2 Ist ein Content Management System Pflicht?
        p <span class="uk-h2">Nein, überhaupt nicht.</span> Ob ein Content Management System eingesetzt wird, hängt immer vom Einzelfall ab. Eine erfolgreiche Webseite sieht nicht nur großartig aus; sie sollte auch einfach zu warten sein. Einige Kunden möchten das aber gar nicht selbst machen, sondern haben das zu uns als monatlichen Service übertragen.
        p.uk-h3 Wir beherrschen die bekannten CMS-Systeme und passen sie individuell auf Ihre Anforderungen an.

    p
      a.uk-button.uk-button-large.uk-width-1-1(href='/service-und-support' role='button')
        span Mehr Informationen
