
<section class="lm-kosten uk-hidden-small" data-uk-parallax="{bg: '-700'}">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-3-5">
        <h2>Was kostet eine professionelle Webseite von confidea?</h2>
        <p class="uk-h3">Abhängig von Ihren Wünschen erstellen wir Ihnen ein individuelles Design für Ihre neue Webseite. Gerne machen wir Ihnen dafür ein Angebot.</p>
        <p>Wenn das Design schon fertig ist, sind wir in der Lage, Ihnen eine Webseite bereits ab 750€ anzubieten.</p>
        <p class="uk-h3">Sie können natürlich beliebig Module hinzufügen (Newslettersystem, Kontaktformular, Umfragen, Forum usw.).</p>
      </div>
      <div class="uk-width-medium-2-5">
        <h2>Also:</h2>
        <p class="uk-h2">Sie bekommen eine gut und sauber programmierte, zukunftssichere Webseite mit einem vorgefertigten Design bereits ab 750€.</p>
      </div>
    </div>
  </div>
</section>