section
  .uk-container.uk-container-center
    h2
      a(href='/html5-praesentationen/slides.html') Ein Beispiel für eine HTML5 Präsentation
    p.uk-h3 Hier haben wir Ihnen #[a(href='/html5-praesentationen/slides.html') ein Beispiel der HTML5 Präsentationen] zusammengestellt, damit Sie sich ein Bild machen können.
    p Alle Inhalte, die Sie auf Ihrem Computer anschauen können, sind auch in die Präsentation integrierbar. Ihrer Fantasie sind keine Grenzen gesetzt.
    div.uk-text-center
      img(src='/assets/images/gruppe-geschaeftsleute-zeigen-nach-rechts-300x252.png' alt='Gruppe Geschäftsleute zeigt nach rechts')
