@mixin lm-margin-top {
  padding-top: em-calc(20px);
  padding-bottom: em-calc(10px);
}

@mixin lm-tabs-content {
  background-color: lighten($my-brand, 60%);
  padding-left: em-calc(200px);
  padding-right: em-calc(200px);
}

@mixin lm-section-border {
  border-top: 1px solid $my-brand;
  border-bottom: 1px solid $my-brand;
}
