.uk-navbar-brand {
  margin-left: rem-calc(20px);
}

.uk-navbar-nav {
  li {
    a {
      padding-top: em-calc(35px);
    }
  }
}

.uk-navbar-nav li a {
  @include bp(max,569px) {
    padding: 0 5px;
    height: 10%;
  }
}
