.lm-tabs {
  @include lm-margin-top;
  @include lm-tabs-content;
  li {
    p:last-child {
      padding-top: em-calc(30px);
      font-size: 150%;
    }
    p:not(:last-child) {
        text-align: left;
    }
  }
}

ul.uk-tab li a {
  font-size: 120%;
}
