---
layout: page
title: Beispiele Webdesign
description: Diese Beispiele zeigen Ihnen, wie Webseiten aufgebaut sein können und welche Funktionalität sie haben können.
headline: Beispiele mit Webseiten, <a href="/internet-videos">Videos</a> und <a href="/bildergalerie">Bildergalerie</a>
subline:
date: 2016-02-18
modified: 2016-02-18
type: page
permalink: "/beispiele-webdesign/"
# Mehrere Klassen mit Leerzeichen trennen
bodyClass: beispiele-webdesign
---

{% include beispiele-webdesign/section1.html %}

{% include beispiele-webdesign/videos-bilder.html %}

{% include kontakt/formular-seite.html %}
