section
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-medium-1-2
        h2 Was ist mobiles responsives Design?
        img.uk-align-left(src="/assets/images/digitale-geraete-300x228.png" alt="Digitale Geräte")

      .uk-width-medium-1-2
        p Mehr Menschen als je zuvor surfen im Internet mit einem Smartphone oder Tablet. Neueste Marktforschungszahlen besagen, dass ca. <span class="uk-h3">40% der Anwender mit mobilen Geräten</span> surfen. Deshalb ist es so essentiell wichtig, sich über den Einsatz mobilen, responsiven Designs Gedanken zu machen.
        p Einfach gesagt stellt mobiles, responsives Design sicher, dass Ihre Webseite oder Ihr Blog in jedem Browser gut aussieht und problemlos lesbar ist - Desktop Computer, Laptops, Tablets/iPads und Smartphones/iPhones. <span class="uk-h3">Sie brauchen keine Angst mehr zu haben, dass ein potentieller Kunde Ihre Webseite verlässt</span>, weil er sie einfach auf dem iPhone nicht lesen kann.
        p Ein großer (Kosten)Vorteil ist, dass Sie keine spezielle mobile Webseite mehr erstellen und pflegen lassen müssen. Sie konzentrieren sich einfach auf Ihre Webseite und die Anpassungen für die mobilen Geräte passieren automatisch - das ist schon fast Magie!
        p Und falls Ihr vorhandenes Design nun so gar nicht responsiv gemacht werden kann, sprechen Sie einfach mit unserem Designer, der Ihnen ein gutes Angebot machen wird.
