
<section>
  <div class="uk-container uk-container-center">
    <p class="uk-h2 uk-text-center">Hier finden Sie die wichtigsten Elemente der Webseiten-Formel.</p>
    <p class="uk-h3">Nur, wenn diese richtig zusammengesetzt werden, entsteht eine großartige Webseite, die Kunden für Sie gewinnt.</p>
    <p>Eine allgemeingültige Webseiten-Formel hingegen gibt es nicht. Darum bekommen Sie auch Ihre individuelle, persönliche Webseiten-Formel für Ihr Unternehmen von uns zusammengestellt.</p>
  </div>
</section>
<section>
  <div class="uk-container uk-container-center">
    <h2 class="uk-text-center">Die Elemente der Webseiten-Formel:</h2>
    <div class="uk-grid">
      <ul class="uk-width-medium-1-2">
        <li>SEO</li>
        <li>CMS</li>
        <li>Domainerweiterungen</li>
        <li>Exact-Match-Domains</li>
        <li>Schlüsselworte (singular, plural)</li>
        <li>Inhalte (Länge etc.)</li>
        <li>Meta Tags</li>
        <li>Bildoptimierung</li>
        <li>Duplicate Content</li>
        <li>Linkstruktur (absolute oder relative URLs)</li>
        <li>Sprechende Links</li>
        <li>Sprechende Dateinamen</li>
        <li>Seitenbeschreibungen (Inhalte und Kurzbeschreibungen)</li>
        <li>Subdomains oder Unterordner</li>
        <li>Wortaufteilung in URL</li>
        <li>Linkfarm</li>
        <li>Domain umziehen (301-Umleitung)</li>
        <li>Neue Webseite und damit neue URLs (301-Umleitung)</li>
      </ul>
      <div class="uk-width-medium-1-2"><img src="/assets/images/businessmen_posed_800_clr_8325.png" alt="Geschäftsmänner zeigen auf die Liste"/></div>
    </div>
  </div>
</section>