.uk-width-medium-1-3(role='form')
  // http://flipmail.co/setup
  form#contactform(method='post', action='//flipmail.co/api/{{ site.owner.flipmail }}')
    p
      | Name (Pflichtfeld)
      br
      span.your-name
        input(type='hidden', name='_valid[name]', value='required')
        input(type='text', name='name', size='40', aria-required='true', aria-invalid='false', placeholder='Ihr Name')
    p
      | E-Mail (Pflichtfeld)
      br
      span.your-email
        input(type='hidden', name='_valid[email]', value='required|valid_email')
        input(type='email', name='email', size='40', aria-required='true', aria-invalid='false', placeholder='Ihre Emailadresse')
    p
      | Ihre Nachricht
      br
      span.your-message
        input(type='hidden', name='_valid[message]', value='required')
        textarea(name='message', cols='40', rows='21', aria-invalid='false', placeholder='Wäre schön, wenn Sie hier etwas reinschreiben')
    p
      button.uk-button(type='submit') Abschicken
    input(type="hidden" name="_after" value="{{ site.url }}/danke")
