
<section>
  <div class="uk-container uk-container-center">
    <p class="uk-h2">Sie sollten auf jeden Fall eine Landing Page einsetzen, wenn Sie Kunden über das Internet gewinnen wollen.</p>
    <p class="uk-h3">Die Landing Page zeigt Ihrem Besucher komprimiert, was Sie zu bieten haben und fordert ihn auf, seine Emailadresse zu hinterlassen, um weitere Informationen zu bekommen.</p>
    <p class="uk-h3">Treten Sie mit Ihrem potentiellen Kunden in Kontakt und schicken Sie ihm regelmäßige Informationen über Neuigkeiten aus Ihrem Unternehmen. Das kann mit unseren Tools vollautomatisch gemacht werden - Sie müssen nicht einmal mehr den Newsletter selbst schreiben.</p>
  </div>
</section>