section
  .uk-container.uk-container-center
    p.uk-text-center.uk-h1.uk-margin-top
      a(href='{% post_url 2015-02-09-die-landing-page-neue-kunden-ueber-das-internet %}' title='Die Landing Page – neue Kunden über das Internet') Mehr Informationen zu Landing Pages
