section
  .uk-container.uk-container-center
    div
      h2.uk-text-center Hier sind ein paar Beispiele für erfolgreiche Landing Pages

    div.uk-grid.uk-text-center
      div.uk-width-1-3
        img(src="/assets/images/conversio-thumb-280x245.jpg" alt="Landingpage Conversio")
      div.uk-width-1-3
        img(src="/assets/images/conversion-desktop-thumb-280x245.jpg" alt="Landingpage Conversion Desktop")
      div.uk-width-1-3
        img(src="/assets/images/conversion-thumb-280x245.jpg" alt="Landingpage Conversion Thumb")
    div.uk-grid.uk-text-center
      div.uk-width-1-3
        img(src="/assets/images/just-landed-thumb-280x245.jpg" alt="Landingpage Just Landed")
      div.uk-width-1-3
        img(src="/assets/images/lando-thumb-280x245.png" alt="Landingpage Lando")
      div.uk-width-1-3
        img(src="/assets/images/minimalistic-thumb-280x245.png" alt="Landingpage Minimalistic")
    div.uk-grid.uk-text-center
      div.uk-width-1-2
        img(src="/assets/images/simple-download-thumb-280x245.jpg" alt="Landingpage Simple Download")
      div.uk-width-1-2
        img(src="/assets/images/spoty-thumb-280x245.jpg" alt="Landingpage Spoty")
