
<section>
  <div class="uk-container uk-container-center">
    <div>
      <h2 class="uk-text-center">Hier sind ein paar Beispiele für erfolgreiche Landing Pages</h2>
    </div>
    <div class="uk-grid uk-text-center">
      <div class="uk-width-1-3"><img src="/assets/images/conversio-thumb-280x245.jpg" alt="Landingpage Conversio"/></div>
      <div class="uk-width-1-3"><img src="/assets/images/conversion-desktop-thumb-280x245.jpg" alt="Landingpage Conversion Desktop"/></div>
      <div class="uk-width-1-3"><img src="/assets/images/conversion-thumb-280x245.jpg" alt="Landingpage Conversion Thumb"/></div>
    </div>
    <div class="uk-grid uk-text-center">
      <div class="uk-width-1-3"><img src="/assets/images/just-landed-thumb-280x245.jpg" alt="Landingpage Just Landed"/></div>
      <div class="uk-width-1-3"><img src="/assets/images/lando-thumb-280x245.png" alt="Landingpage Lando"/></div>
      <div class="uk-width-1-3"><img src="/assets/images/minimalistic-thumb-280x245.png" alt="Landingpage Minimalistic"/></div>
    </div>
    <div class="uk-grid uk-text-center">
      <div class="uk-width-1-2"><img src="/assets/images/simple-download-thumb-280x245.jpg" alt="Landingpage Simple Download"/></div>
      <div class="uk-width-1-2"><img src="/assets/images/spoty-thumb-280x245.jpg" alt="Landingpage Spoty"/></div>
    </div>
  </div>
</section>