---
layout: page
title: Responsives Design
description: Responsives Design bedeutet, dass die Webseite auch auf allen mobilen Geräten immer optimal dargestellt wird.
headline: Mobiles, responsives Design
subline: Alle Webseiten, die von uns gemacht werden, laufen standardmäßig auf allen Geräten
keywords: responsiv, responsives design, mobile geräte
date: 2015-03-02
modified: 2016-02-18
type: page
permalink: /responsives-design/
original: http://confidea.de/startseite-2/responsives-design/
# Mehrere Klassen mit Leerzeichen trennen
bodyClass: responsives-design
---

{% include responsives-design/section1.html %}

<div class="uk-hidden-small">
{% include testimonial/rmkonzept.html %}
</div>

{% include kontakt/formular-seite.html %}
