section
  .uk-container.uk-container-center
    article.uk-article
      | {% for post in site.posts %}
      .uk-article-title
        a.post-link(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}
      p.uk-article-meta {% include date.html %}

      .uk-article-lead {{ post.content | split:'<!--break-->' | first }}

      | {% if post.content contains '<!--break-->' %}
      a.weiterlesen(href='{{ post.url }}') Weiterlesen
      | {% endif %}
      | {% endfor %}
