
<section>
  <ul class="accordion">
    <li><a class="js-accordion-trigger" href="javascript:void(0)">{{ site.data.downloads.accordion-title1 }}</a>
      <ul class="submenu">
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item1-1 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item1-2 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item1-3 }}</a></li>
      </ul>
    </li>
    <li><a class="js-accordion-trigger" href="javascript:void(0)">{{ site.data.downloads.accordion-title2 }}</a>
      <ul class="submenu">
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item2-1 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item2-2 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item2-3 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item2-4 }}</a></li>
      </ul>
    </li>
    <li><a class="js-accordion-trigger" href="javascript:void(0)">{{ site.data.downloads.accordion-title3 }}</a>
      <ul class="submenu">
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item3-1 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item3-2 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item3-3 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item3-4 }}</a></li>
      </ul>
    </li>
    <li><a class="js-accordion-trigger" href="javascript:void(0)">{{ site.data.downloads.accordion-title4 }}</a>
      <ul class="submenu">
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item4-1 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item4-2 }}</a></li>
        <li><a href="javascript:void(0)">{{ site.data.downloads.accordion-item4-3 }}</a></li>
      </ul>
    </li>
  </ul>
</section>