section
  nav.lm-downloadbereich
    ul
      strong
        | Sie sind bei den Downloads auf der Unterseite:
      |     {% for node in site.data.download-nav %}
      |     {% if page.url == node.url %}
      a.active-download(href='{{ node.url }}') {{ node.title }}
      |     {% else %}
      li
        a(href='{{ node.url }}') {{ node.title }}
      |     {% endif %}
      |     {% endfor %}
