section.lm-cycle
  .cycle-slideshow.uk-container.uk-container-center.lm-container-small(data-cycle-fx='scrollHorz', data-cycle-timeout='3000', data-cycle-slides='> div')
    .beitrag1.beitrag
      | {% include blog-carousel1.html %}
    .beitrag2.beitrag
      | {% include blog-carousel2.html %}
    .beitrag3.beitrag
      | {% include blog-carousel3.html %}
    .beitrag4.beitrag
      | {% include blog-carousel4.html %}
    .beitrag5.beitrag
      | {% include blog-carousel5.html %}
