
<section class="lm-cycle">
  <div class="cycle-slideshow uk-container uk-container-center lm-container-small" data-cycle-fx="scrollHorz" data-cycle-timeout="3000" data-cycle-slides="&gt; div">
    <div class="beitrag1 beitrag">{% include blog-carousel1.html %}</div>
    <div class="beitrag2 beitrag">{% include blog-carousel2.html %}</div>
    <div class="beitrag3 beitrag">{% include blog-carousel3.html %}</div>
    <div class="beitrag4 beitrag">{% include blog-carousel4.html %}</div>
    <div class="beitrag5 beitrag">{% include blog-carousel5.html %}</div>
  </div>
</section>