
<section class="uk-hidden-small">
  <div class="uk-container uk-container-center">
    <div class="uk-tab-center">
      <ul class="uk-tab" data-uk-tab="{connect:'#tab-content'}">
        <li class="uk-active" aria-expanded="true"><a href="#">{{ site.data.downloads.accordion-title1 }}</a></li>
        <li aria-expanded="false"><a href="#">{{ site.data.downloads.accordion-title2 }}</a></li>
        <li aria-expanded="false"><a href="#">{{ site.data.downloads.accordion-title3 }}</a></li>
        <li aria-expanded="false"><a href="#">{{ site.data.downloads.accordion-title4 }}</a></li>
        <li class="uk-tab-responsive uk-active uk-hidden" aria-haspopup="true" aria-expanded="false"><a>Tab</a>
          <div class="uk-dropdown uk-dropdown-small">
            <ul class="uk-nav uk-nav-dropdown"></ul>
            <div></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="uk-text-center lm-tabs">
      <ul class="uk-switcher uk-margin" id="tab-content">
        <li class="uk-active" aria-hidden="false">
          <p class="uk-h3">{{ site.data.downloads.accordion-item1-1 }}</p>
          <p>{{ site.data.downloads.accordion-item1-2 }}</p>
          <p>{{ site.data.downloads.accordion-item1-3 }}</p>
        </li>
        <li aria-hidden="true">
          <p class="uk-h3">{{ site.data.downloads.accordion-item2-1 }}</p>
          <p class="uk-h3">{{ site.data.downloads.accordion-item2-2 }}</p>
          <p>{{ site.data.downloads.accordion-item2-3 }}</p>
          <p>{{ site.data.downloads.accordion-item2-4 }}</p>
        </li>
        <li aria-hidden="true">
          <p class="uk-h3">{{ site.data.downloads.accordion-item3-1 }}</p>
          <p>{{ site.data.downloads.accordion-item3-2 }}</p>
          <p>{{ site.data.downloads.accordion-item3-3 }}</p>
          <p>{{ site.data.downloads.accordion-item3-4 }}</p>
        </li>
        <li aria-hidden="true">
          <p class="uk-h3">{{ site.data.downloads.accordion-item4-1 }}</p>
          <p>{{ site.data.downloads.accordion-item4-2 }}</p>
          <p>{{ site.data.downloads.accordion-item4-3 }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="uk-visible-small">
  <div class="uk-container uk-container-center">
    <p>Die Downloads funktionieren mit Ihrem Notebook oder PC. Am besten probieren Sie das mal aus, wenn Sie wieder im Büro sind.</p>
  </div>
</section>