section.uk-hidden-small
  .uk-container.uk-container-center
    .uk-tab-center
      ul.uk-tab(data-uk-tab="{connect:'#tab-content'}")
        li.uk-active(aria-expanded='true')
          a(href='#') {{ site.data.downloads.accordion-title1 }}
        li(aria-expanded='false')
          a(href='#') {{ site.data.downloads.accordion-title2 }}
        li(aria-expanded='false')
          a(href='#') {{ site.data.downloads.accordion-title3 }}
        li(aria-expanded='false')
          a(href='#') {{ site.data.downloads.accordion-title4 }}
        li.uk-tab-responsive.uk-active.uk-hidden(aria-haspopup='true', aria-expanded='false')
          a Tab
          .uk-dropdown.uk-dropdown-small
            ul.uk-nav.uk-nav-dropdown
            div
    .uk-text-center.lm-tabs
      ul#tab-content.uk-switcher.uk-margin
        li.uk-active(aria-hidden='false')
          p.uk-h3 {{ site.data.downloads.accordion-item1-1 }}
          p {{ site.data.downloads.accordion-item1-2 }}
          p {{ site.data.downloads.accordion-item1-3 }}
        li(aria-hidden='true')
          p.uk-h3 {{ site.data.downloads.accordion-item2-1 }}
          p.uk-h3 {{ site.data.downloads.accordion-item2-2 }}
          p {{ site.data.downloads.accordion-item2-3 }}
          p {{ site.data.downloads.accordion-item2-4 }}
        li(aria-hidden='true')
          p.uk-h3 {{ site.data.downloads.accordion-item3-1 }}
          p {{ site.data.downloads.accordion-item3-2 }}
          p {{ site.data.downloads.accordion-item3-3 }}
          p {{ site.data.downloads.accordion-item3-4 }}
        li(aria-hidden='true')
          p.uk-h3 {{ site.data.downloads.accordion-item4-1 }}
          p {{ site.data.downloads.accordion-item4-2 }}
          p {{ site.data.downloads.accordion-item4-3 }}

section.uk-visible-small
  .uk-container.uk-container-center
    p Die Downloads funktionieren mit Ihrem Notebook oder PC. Am besten probieren Sie das mal aus, wenn Sie wieder im Büro sind.
