section
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-medium-1-2
        h2 Internet Videos
        p Gerade auf kommerziellen Webseiten haben Internet Videos heute eine ganz <span class="uk-h3">neue und wichtige Bedeutung</span> erhalten.
        p Wir sprechen hier von <span class="uk-h3">verkaufenden Videos</span>, die Sie geschickt auf Ihrer Webseite platzieren und so zur Leadgenerierung einsetzen. Produzieren Sie diese Videos praxisgerecht, verständlich und überzeugend und sie werden zu ihren virtuellen Verkäufern - auch am Wochenende.

      .uk-width-medium-1-2
        h2 Besondere Internet Videos
        p Aufgrund unserer langjährigen Erfahrung in der Videoproduktion können wir Ihnen <span class="uk-h3">besondere Internet Videos</span> bieten. Schauen Sie sich doch mal die Beispiele und lassen sich inspirieren.
        p Sehr gern stehen wir Ihnen als Ratgeber zur Verfügung.

    .uk-grid
      .uk-width-medium-1-2(data-uk-grid-margin)
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0jQYbb1HVo"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Deb_XC22ckM"></iframe>
      .uk-width-medium-1-2(data-uk-grid-margin)
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3_yuhxZZ4xA"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yOFEBjnG-2U"></iframe>

    h2.uk-text-center
      a(href='/bildergalerie') Sehen Sie sich auch das Beispiel für die Bildergalerie an
