section.lm-color-3
  .uk-container.uk-container-center
    .uk-text-center.uk-margin-large-bottom
      h2.uk-h1 Sie wollen mehr?
      h3.uk-h2 Sollen Sie von uns bekommen!

  .uk-container.uk-container-center
    .uk-grid.uk-grid-width-large-1-2(data-uk-grid-margin)
      div
        img(src="/assets/images/confidea-beispiel2-1000-neu.png" alt="iMac, MacBook Pro, iPad und iPhone responsive Webseite")
      div
        h3 Individuelle Funktionen für mobile Geräte
        p Da alle unsere Webseiten-Projekte für mobile Endgeräte fitgemacht werden, bekommen Sie für den Basispreis die wesentlichen Funktionalitäten bereits mitgeliefert. Erweiterte Funktionen wie z. B. verschiedene Mobil-Menüs werden gegen Aufpreis integriert. Wir sprechen darüber in der Designphase.
        h3 Individuelle Entwicklung benötigter Programmteile
        p Wir versuchen immer, für Ihre komplexen Anforderungen einfache Lösungen zu finden. Schauen Sie sich rechts die Beispiele an und erfahren Sie, wie sie unseren Kunden geholfen haben. In unserem Netzwerk an erfahrenen Programmierern finden sich Spezialisten, die auch die schwierigsten Aufgabenstellungen meistern.
        h3 Design
        p Sie haben kein Design? Wir haben in unserem Netzwerk hervorragende Designer, die Ihnen ganz sicher etwas Großartiges kreieren können.
