---
layout: page
title: Bildergalerie
description: Erstellen Sie beliebige Bildergalerien, die sortierbar sind und auf jedem Gerät optimal dargestellt werden.
headline: Eine Bildergalerie als Beispiel
subline: Sortierbar, optimale Darstellung auf jedem Gerät
permalink: "/bildergalerie/"
# Mehrere Klassen mit Leerzeichen trennen
bodyClass: bildergalerie
---

{% include bildergalerie/section1.html %}

<!-- Beispielcode für eine Bildergalerie von https://uikitplay.com/plays/FXt6 -->
{% include code.html %}

{% include bildergalerie/section3.html %}
