.uk-container.uk-container-center
  h2 Hier finden Sie uns:

  p.uk-h4 {{ site.adresse.name }}
  p {{ site.adresse.strasse }}
  p {{ site.adresse.plz }} {{ site.adresse.ort }}
  p Mobil: {{ site.adresse.mobil }}
  p Festnetz: {{ site.adresse.festnetz }}
