
<div class="uk-container uk-container-center">
  <h1>Dies ist die Übersichtsseite für Autoren</h1>
  <p>Die Daten dieser fiktiven Autoren sind eine Collection, die in der `_config.yml` als solche angegeben wurde. Die Dateien der Autoren befinden sich im Verzeichnis `_authors` und haben als Template `authors.html`. Durch diese Vorgehensweise wird für jeden einzelnen Autor automatisch eine eigene Seite generiert. Gibt es einen `Nickname`, wird der für den Titel und in der Navigation benutzt.</p>
  {% assign authors = site.authors %}
  {% for author in authors %}
  {% if author.nickname %}
  <hr/>
  <h2><a href="{{ author.permalink }}">{{ author.nickname }}</a></h2>{% else %}
  <h2><a href="{{ author.permalink }}">{{ author.title }}</a></h2>{% endif %}
  <p>{{ author.description }}</p><a href="{{ author.permalink }}">Zum Autor{% if author.nickname %} {{ author.nickname }}{% endif %}</a>{% endfor %}
</div>
<hr/>