<section>
  <div class="uk-container uk-container-center">
    <h2 class="uk-text-center uk-margin-large-bottom">Danke sehr</h2>
    <div class="uk-grid">
      <div class="uk-width-medium-1-2">
        <p class="uk-h3">Auf der <span class="uk-h2"><a href="/">Startseite</a></span> finden Sie gleich mal <span class="uk-h2">alle wichtigen Informationen</span>. Klicken Sie einfach die 4 Buttons an und Sie gelangen zu den Detailinformationen zum responsiven Webdesign, Analyse, Schulung und Unterstützung usw.</p>
      </div>
      <div class="uk-width-medium-1-2">
        <p class="uk-h3">Viele Beispiele von <span class="uk-h2">attraktiven Webseiten</span> und Videos erwarten Sie <a href="/beispiele-webdesign">hier</a>. Klicken Sie sich mal durch und lassen sich inspirieren.</p>
      </div>
    </div>
    <h2 class="uk-text-center">Schauen Sie doch mal im Bereich <a href="/webdesign-responsive-webseite">Webdesign</a> vorbei.</h2>
  </div>
</section>
