
<div class="uk-container uk-container-center">
  <h1>{{ site.data.firmen_uebersicht.titel }}</h1>

  {% if site.data.firmen_uebersicht.untertitel %}
    <h2 class="lm_untertitel">{{ site.data.firmen_uebersicht.untertitel }}</h2>
  {% endif %}

  {% for absatz in site.data.firmen_uebersicht.absaetze %}
      <p>{{ absatz }}</p>
  {% endfor %}

  {% assign partners = site.data.unternehmen %}
  {% for partner in partners %}
  <hr/>
  <h2>Firma: {{ partner.firma }}</h2>
  <h2>Stadt: {{ partner.stadt }}</h2>
  <h3><a href="{{ partner.permalink }}">{{ partner.webseite }}</a></h3>
  <p>Email:&nbsp;<a href="mailto:{{ partner.permalink }}">{{ partner.mail }}</a></p>
  <p>Name: {{ partner.vorname }} {{ partner.nachname }}</p>{% endfor %}
  <hr/>
</div>
