
<div class="uk-container uk-container-center">
  <h1>Dies ist die Übersichtsseite für die Firmen</h1>
  <p>Die Daten dieser fiktiven Unternehmen kommen aus der Datei `unternehmen.yaml`, in der 500 Musterfirmen übersichtlich gelistet sind. Die Datei entstand aus einer Excel-Datei, die vom Kunden gepflegt und als CSV-Datei gespeichert wird. Wir haben die Datei dann von CSV zu YAML konvertiert und dazu den <a href="http://www.convertcsv.com/csv-to-yaml.htm">CSV Converter</a> benutzt.</p>
  {% assign partners = site.data.unternehmen %}
  {% for partner in partners %}
  <hr/>
  <h2>Firma: {{ partner.firma }}</h2>
  <h2>Stadt: {{ partner.stadt }}</h2>
  <h3><a href="{{ partner.permalink }}">{{ partner.webseite }}</a></h3>
  <p>Email:&nbsp;<a href="mailto:{{ partner.permalink }}">{{ partner.mail }}</a></p>
  <p>Name: {{ partner.vorname }} {{ partner.nachname }}</p>{% endfor %}
  <hr/>
</div>