footer.lm-color-footer
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-medium-6-10
        h2.uk-h3 Aktuelle Beiträge
        ul
          | {% include blog-single.html %}
      .uk-width-medium-2-10
        h2.uk-h3 Die Links der Webseite
        nav
          ul
            | {% for node in site.data.nav %}
            | {% if page.url == node.url %}
            li.active.page-link
              a.active(href='{{ node.url }}') {{ node.title }}
            |             {% else %}
            li.page-link
              a(href='{{ node.url }}') {{ node.title }}
            |             {% endif %}
            |             {% endfor %}
      .uk-width-medium-2-10
        h2.uk-h3 Wichtige Links
        nav
          ul
            | {% for node in site.data.nav-footer %}
            | {% if page.url == node.url %}
            li.active.page-link
              a.active(href='{{ node.url }}') {{ node.title }}
            |             {% else %}
            li.page-link
              a(href='{{ node.url }}') {{ node.title }}
            |             {% endif %}
            |             {% endfor %}

          a#my-id.uk-button(data-uk-smooth-scroll) Nach oben
.uk-container.uk-container-center.uk-text-center
  p.copyright
    | © {{ site.time | date: '%Y' }}&nbsp;
    a(href='{{ site.url }}') {{ site.title }}, Buchhorststraße 13, 31860 Emmerthal, Mobil: 0176 - 248 248 48, Tel: 05286 - 990 922
