
<header>
  <nav class="uk-navbar uk-clearfix"><a class="uk-navbar-brand" href="{{ site.baseurl }}/"><img src="/assets/images/5020-300x199.jpg" alt="Logo"/></a>
    <ul class="uk-navbar-nav uk-float-right">
      {% for node in site.data.nav %}
      {% if page.url == node.url %}
      <li class="uk-active"><a class="uk-active" href="{{ node.url }}">{{ node.title }}</a></li>      {% else %}
      <li><a href="{{ node.url }}">{{ node.title }}</a></li>
            {% endif %}
            {% endfor %}
    </ul>
  </nav>
</header>