<div class="uk-container uk-container-center">
  <h2>{{ site.data.oeffnungszeiten.titel }}</h2>
  <ul class="uk-list uk-list-striped">
    <li><strong>{{ site.data.oeffnungszeiten.mo.name }}</strong>: {{ site.data.oeffnungszeiten.mo.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.di.name }}</strong>: {{ site.data.oeffnungszeiten.di.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.mi.name }}</strong>: {{ site.data.oeffnungszeiten.mi.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.do.name }}</strong>: {{ site.data.oeffnungszeiten.do.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.fr.name }}</strong>: {{ site.data.oeffnungszeiten.fr.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.sa.name }}</strong>: {{ site.data.oeffnungszeiten.sa.zeit }}</li>
    <li><strong>{{ site.data.oeffnungszeiten.so.name }}</strong>: {{ site.data.oeffnungszeiten.so.zeit }}</li>
  </ul>
</div>
