
<div class="uk-container uk-container-center">
  <h2>Und hier die Öffnungszeiten:</h2>
  <ul class="uk-list uk-list-striped">
    <li>Montag: {{ site.data.oeffnungszeiten.montag }}</li>
    <li>Dienstag:  {{ site.data.oeffnungszeiten.dienstag }}</li>
    <li>Mittwoch:  {{ site.data.oeffnungszeiten.mittwoch }}</li>
    <li>Donnerstag:  {{ site.data.oeffnungszeiten.donnerstag }}</li>
    <li>Freitag:  {{ site.data.oeffnungszeiten.freitag }}</li>
    <li>Samstag:  {{ site.data.oeffnungszeiten.samstag }}</li>
    <li>Sonntag:  {{ site.data.oeffnungszeiten.sonntag }}</li>
  </ul>
</div>