.uk-container.uk-container-center
  br
  br
  h1.uk-text-center Dies ist die 404-Seite
  br
  br
  p.uk-h2.uk-text-center
    | Wir vermuten, dass Sie diese Seite nicht gesucht haben.
  p.uk-h2.uk-text-center
    | Versuchen Sie doch mal unsere
    a(href='/') Startseite
    |  oder die
    a(href='/beispiele-webdesign') Beispiele für das Webdesign von confidea.
