header
  nav.uk-navbar.uk-clearfix
    a.uk-navbar-brand(href='{{ site.baseurl }}/')
      img(src='/assets/images/{{ site.owner.logo }}', alt='Logo')
    ul.uk-navbar-nav.uk-float-right
      | {% for node in site.data.nav %}
      | {% if page.url == node.url %}
      li.uk-active
        a.uk-active(href='{{ node.url }}') {{ node.title }}
      |       {% else %}
      li
        a(href='{{ node.url }}') {{ node.title }}
      |       {% endif %}
      |       {% endfor %}
