section.lm-color-1.testimonial
  .uk-container.uk-container-center
    blockquote
      span.icon
        i.uk-icon-quote-right.uk-icon-large
      p
        | Ganz einfach gesagt: Die Confidea-Leute sind großartig. <span class="uk-h3">Sie haben das komplexe Projekt sofort verstanden</span> und kreative Lösungen entwickelt. Und sie haben nicht das Handtuch geworfen, als die Herausforderungen und der Zeitdruck wirklich groß wurden. <span class="uk-h3">Wir sind von dem Ergebnis beigeistert!</span>.
      small Roland Malter, Geschäftsführer, RM Konzept
