section.lm-color-1.testimonial
  .uk-container.uk-container-center
    blockquote
      span.icon
        i.uk-icon-quote-right.uk-icon-large
      p
        | <span class="uk-h3">Confidea hat unsere Erwartungen</span> an eine dynamische, skalierbare und individuelle Webseite <span class="uk-h3">übertroffen</span>. Es war sehr einfach, mit ihnen zu arbeiten. Der Service ist schnell und kompetent. Die Beratung war sehr gut, so dass wir eine umfangreiche Webseite bekommen haben, die zu einem unverzichtbaren Marketingwerkzeug geworden ist. <span class="uk-h3">Wir empfehlen Confidea</span> ausdrücklich.
      small Marketing Director VITEC
