section
  .uk-container.uk-container-center
    p.uk-h2 Hier haben wir Ihnen eine "Bildergalerie" zusammengestellt, damit Sie sich im wahrsten Sinne des Wortes "ein Bild machen können".
    p.uk-h3 Dieses Beispiel zeigt auf, wie intelligent Bildergalerien sein können. Und natürlich ist diese Galerie auch responsiv. Das heißt, sie wird auch auf dem Smartphone oder Tablet immer optimal dargestellt. Oder Sie organisieren so Ihr Archiv.
    h2 Anwendungsbereiche:
    p.uk-h3 Sie können Ihre Projekte mit Bild und Text darstellen. Oder Sie stellen so Ihre Mitarbeiter vor. Oder Sie verlinken auf befreundete Webseiten und stellen so eine einfache Navigation zur Verfügung.
    p.uk-h2 Der Phantasie sind keine Grenzen gesetzt.
    p.uk-h4 Wenn Sie die Kategorien anklicken, sortieren sich die Bilder neu. Und wenn Sie direkt auf ein Bild klicken, öffnet es sich in einer sogenannten "Lightbox". Probieren Sie es aus. Die Bedienung funktioniert natürlich auch mit den Pfeiltasten auf der Tastatur.
