
<section>
  <div class="uk-container uk-container-center">
    <h2>SEO - Grundsätzliches</h2>
    <div class="uk-accordion" data-uk-accordion="data-uk-accordion">
      <h3 class="uk-accordion-title">Wie arbeiten Suchmaschinen?</h3>
      <div class="uk-accordion-content">
        <p>Suchmaschinen zielen darauf ab, einen Index aller Webseiten mit Hilfe von „Crawlern“ zu erstellen. Diese „Roboter“ folgen Links (href und src) und indexieren die Dateien, die sie finden. Wenn Sie einen Suchbegriff eingeben, holen die Suchmaschinen die relevantesten Webseiten aus ihrem Index und sortieren sie basierend auf verschiedenen Rankingfaktoren.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist "Black-Hat / White-Hat SEO"?</h3>
      <div class="uk-accordion-content">
        <p>„White-hat SEO“ beschreibt eine Technik, die Suchmaschinen als einen Teil des guten Designs bezeichnen. Sie produzieren langfristige Resultate. „Black-hat SEO“ beinhaltet Techniken, die von Suchmaschinen abgelehnt werden. Der Einsatz dieser Techniken kann dazu führen, dass Ihre Webseite bestraft oder sogar ganz aus dem Index entfernt wird.</p>
        <p>Welche SEO-Taktiken werden als „Black-hat“ eingestuft?</p>
        <p>Es gibt verschiedene Techniken wie:</p>
        <ul>
          <li>Keyword stuffing: Lange Listen von Schlüsselworten auf Ihrer Webseite. Der Inhalt Ihrer Webseite hingegen hat keinen oder nur geringen Wert.</li>
          <li>Cloaking: Der präsentierte Inhalt ist unterschiedlich zu Crawlern und Besuchern.</li>
          <li>Hidden text: Das Verstecken von Text mit vielen Schlüsselworten ausserhalb des Bildschirms oder im Hintergrund.</li>
          <li>Doorway pages: Seiten, die speziell für Crawler entwickelt wurden.</li>
        </ul>
      </div>
      <h3 class="uk-accordion-title">Welche Faktoren beeinflussen das Ranking meiner Webseite?</h3>
      <div class="uk-accordion-content">
        <p>Es gibt mehr als 200 Faktoren, die genutzt werden, um die Relevanz Ihrer Webseite zu bestimmen. Alle kennen wir nicht, aber Recherchen haben verschiedene, wichtige Elemente hervorgebracht:</p>
        <ul>
          <li>Backlinks: Ein Link zu einer Webseite wird als Pluspunkt für die Webseite angesehen. Je mehr Links eine Seite bekommt, desto besser. Links von Domains mit hoher Klickrate sind wertvoller.</li>
          <li>On-page Faktoren: Das ist z. B. der Seitentitel, Format, Inhalt, Bilder usw.</li>
          <li>Domain age: Das Alter einer Domain ist wichtig. Faustregel: Je älter, desto besser.</li>
          <li>Update frequency: Das regelmässige Veröffentlichen von neuen Artikeln oder das Update von Seiten hat generell einen positiven Effekt.</li>
        </ul>
      </div>
      <h3 class="uk-accordion-title">Was ist Google Panda / Penguin?</h3>
      <div class="uk-accordion-content">
        <p>Google Panda und Penguin sind Updates von Google‘s Suchmaschinen-Ranking-Algorithmus. Das Panda-Update wurde in 2011 veröffentlicht, um die Sichtbarkeit von hochwertigen Webseiten zu verbessern. Google Penguin wurde im April 2012 angekündigt und bestraft seitdem Webseiten, die Black-hat SEO-Techniken einsetzen.</p>
      </div>
      <h3 class="uk-accordion-title">Warum ist meine Webseite nicht in den Suchergebnissen enthalten?</h3>
      <div class="uk-accordion-content">
        <p>Das ist wahrscheinlich eine der am meisten gestellten Fragen, wenn es um SEO geht. Es gibt verschiedene Szenarien, die dazu führen können, dass Ihre Webseite nicht in den Suchergebnissen auftaucht.</p>
        <p>Zuerst sollten Sie eine „site:“ Suche in Google vornehmen (z. B. „site:domain.de“) um zu sehen, ob Ihre Webseite bereits indexiert wurde. Wenn Sie eine Liste von Seiten sehen, wurde Ihre Webseite bereits von Google indexiert. Wenn Sie allerdings eine Fehlermeldung sehen (z. B. „Your search did not match any documents“), wurde Ihre Webseite entweder noch nicht indexiert oder aus dem Index entfernt, weil Sie die Google-Regeln verletzt haben.</p>
        <p>Wenn Ihre Webseite angezeigt wird, müssen Sie wahrscheinlich noch an Ihren Besucherzahlen arbeiten. Veröffentlichen Sie einzigartigen Inhalt, der Probleme Ihrer Besucher löst und versuchen Sie, Links von relevanten, gut besuchten Domains zu bekommen.</p>
      </div>
      <h3 class="uk-accordion-title">Wie kann ich eine Seite aus Google‘s Index entfernen?</h3>
      <div class="uk-accordion-content">
        <p>Sie können mit Hilfe der Datei „robots.txt“ oder dem Robots Metatag verhindern, dass eine Seite indexiert wird. Wenn Sie eine Seite entfernen wollen, die bereits indexiert wurde, können Sie dies mit den Webmaster Tools --> Optimization --> Remover URLs machen.</p>
      </div>
      <h3 class="uk-accordion-title">Können passwortgeschützte Seiten indexiert werden?</h3>
      <div class="uk-accordion-content">
        <p>Nein, Suchmaschinen können passwortgeschützte Seiten nicht indexieren, weil sie auch nicht auf ihren Inhalt zugreifen können.</p>
      </div>
      <h3 class="uk-accordion-title">Können Suchmaschinen Seiten indexieren, die mit einer https-Verbindung aufgerufen werden?</h3>
      <div class="uk-accordion-content">
        <p>Google kann https-Seiten indexieren. Allerdings kann hier schnell „Duplicate Content“ entstehen, wenn beide Domains indexiert werden (http und https).</p>
      </div>
      <h3 class="uk-accordion-title">Beeinflussen viele Zugriffe oder hoher Traffic mein Ranking?</h3>
      <div class="uk-accordion-content">
        <p>Kurze Antwort: Nein.</p>
        <p>Warum nicht? Ganz einfach, weil die Anzahl der Zugriffe kein Rankingfaktor ist. Es ist zwar häufig so, dass Webseiten mit viel Verkehr auch höher im Ranking sind, aber es gibt keinen direkten Zusammenhang.</p>
        <p>Suchmaschinen können gar nicht erkennen, wie viel Verkehr auf einer Webseite herrscht. Und falls Sie Google Analytics auf Ihrer Webseite benutzen, darf Google die Daten aufgrund der Datenschutzbestimmungen nicht auswerten.</p>
        <p>Verkehr auf der Webseite beeinflusst das Ranking also nicht, sehr wohl aber Ihr Linkprofil, Inhalt etc.</p>
      </div>
      <h3 class="uk-accordion-title">Warum unterscheiden sich meine Suchergebnisse von denen meiner Freunde, Kollegen etc.?</h3>
      <div class="uk-accordion-content">
        <p>Manchmal sehen Sie unterschiedliche Suchergebnisse bei unterschiedlichen Personen. Der Grund dafür ist „Search Personalization“. Diese basiert auf der Suchhistorie und wird vom Google+ Profil oder Cookies verfolgt. Aus diesem Grund sehen SERPs manchmal unterschiedlich aus. Search Personalization kann allerdings deaktiviert werden.</p>
      </div>
      <h3 class="uk-accordion-title">Wie sorge ich dafür, dass meine Webseite indexiert wird?</h3>
      <div class="uk-accordion-content">
        <p>Selbstverständlich müssen die Suchmaschinen zunächst einmal wissen, dass Ihre Webseite überhaupt existiert. Es gibt verschiedene Dinge, die Sie tun können:</p>
        <ul>
          <li>Erstellen Sie eine „XML Sitemap“ und übermitteln Sie diese an Google mit Hilfe der Webmaster Tools. Das ist der einfachste Weg, Suchmaschinen zu informieren, dass Sie Ihre Webseite veröffentlicht haben.</li>
          <li>Erstellen Sie einige „Backlinks“ zu Ihrer Webseite. Crawler entdecken neue Seiten, wenn Sie Links folgen. Einige grundsätzliche Massnahmen reichen dafür schon aus.</li>
          <li>Sie können Ihre Webseite an Google übermitteln. Es gibt zwar Diskussionen darüber, ob diese Massnahme zwischenzeitlich obsolet ist, aber sie kann Ihre Webseite nicht beschädigen und dauert nur ein paar Sekunden. Nutzen Sie dafür Google‘s Webmaster Tools.</li>
        </ul>
      </div>
      <h3 class="uk-accordion-title">Wann sollte ich Verbesserungen im Ranking sehen können?</h3>
      <div class="uk-accordion-content">
        <p>Das ist eine Frage, die nicht so einfach zu beantworten ist. Verbesserungen können bereits nach ein paar Tagen, Wochen oder erst Monaten zu sehen sein. Verschiedene Faktoren müssen hier überlegt werden, wie z. B. der vorherige Status der Webseite, die Anzahl und Art der Veränderungen, die Häufigkeit des Crawlens, wettbewerbsfähige Schlüsselwörter usw. SEO ist eine Langzeitstrategie und kann durchaus mehrere Monate in Anspruch nehmen.</p>
      </div>
      <h3 class="uk-accordion-title">Wie bekomme ich mein Profilbild in die Suchergebnisse?</h3>
      <div class="uk-accordion-content">
        <p>Sie müssen Autoreninformationen in Ihrer Webseite speichern, um Ihr Profilbild (via Google+) sichtbar zu machen (siehe Artikel „Authorship Information, Part 11“).</p>
      </div>
      <h3 class="uk-accordion-title">Wie bekomme ich Sterne und Minibilder in die Suchergebnisse?</h3>
      <div class="uk-accordion-content">
        <p>Diese Elemente werden als „Rich Snippets“ bezeichnet. Sie werden von den Suchmaschinen automatisch erzeugt, wenn Sie strukturierte Daten wie Microdata, Microformats oder RFDa in Ihre Webseite integrieren (siehe Artikel „Structured Data, Part 12“).</p>
      </div>
      <h3 class="uk-accordion-title">Beeinflusst Google+1 Rankings?</h3>
      <div class="uk-accordion-content">
        <p>Ja, aber nur marginal. Weil +1 ein relativ neues Element ist, lernt auch Google noch, wie durch +1 die Suchqualität verbessert werden kann.</p>
      </div>
    </div>
    <h2>Links</h2>
    <div class="uk-accordion" data-uk-accordion="data-uk-accordion">
      <h3 class="uk-accordion-title">Sind reziproke Links schlecht?</h3>
      <div class="uk-accordion-content">
        <p>Nein, reziproke Links sind nicht schlecht. Allerdings erscheinen Links, die nur auf einem Weg zu Ihrer Webseite kommen, wertvoller.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist eine Linkfarm?</h3>
      <div class="uk-accordion-content">
        <p>Eine Linkfarm ist ein grosses Netzwerk von Webseiten, die nur ein Ziel haben: zu anderen Webseiten zu verlinken. Diese Links werden als Spam angesehen und somit von den Suchmaschinen bestraft.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist ein „nofollow“ Link?</h3>
      <div class="uk-accordion-content">
        <p>„nofollow“ ist ein Attribut, das die Suchmaschinen auffordert, keinen PageRank für die betreffende Seite zu erstellen. Ein „nofollow“ Link wird also das Ranking Ihrer Webseite nicht verbessern.</p>
      </div>
      <h3 class="uk-accordion-title">Jemand möchte mich dafür bezahlen, wenn ich einen Link zu seiner Webseite auf meiner Webseite platzieren. Sollte ich das tun?</h3>
      <div class="uk-accordion-content">
        <p>Das geht eindeutig gegen Google‘s Webmaster Guidelines. Das ist keine Überraschung, weil Sie damit Google‘s Algorithmus beeinflussen würden. Darum werden diese Taktiken als „Black hat“ eingestuft und bestraft. Allerdings ist es für Google recht kompliziert, bezahlte Links zu entdecken. Auf jeden Fall ist Vorsicht geboten.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist „Link Bait“?</h3>
      <div class="uk-accordion-content">
        <p>„Link Bait“ ist Inhalt, der nur dazu erstellt wurde, andere Links anzuziehen. Das sind üblicherweise kontroverse Artikel, die automatisch einen viralen Effekt erzeugen.</p>
      </div>
      <h3 class="uk-accordion-title">Können andere Webseiten meine Webseite beschädigen?</h3>
      <div class="uk-accordion-content">
        <p>Theoretisch können Wettbewerber Ihre Webseite beschädigen, indem sie z. B. eine hohe Anzahl schlechter Links zu Ihrer Webseite kreieren (oder sogar von Malware-Webseiten). Google hat ein Werkzeug entwickelt, um diese Praktiken zu unterbinden: das „Disavow Tool“. Mit diesem Werkzeug können Sie Google mitteilen, welche Links ignoriert werden sollen.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist „negatives SEO“?</h3>
      <div class="uk-accordion-content">
        <p>Die gleiche Antwort wie darüber: Schlechte Links zu einer Webseite, um ihr Ranking zu beschädigen. Diese Links haben einen schädlichen Effekt und werden daher „negative SEO“ genannt.</p>
      </div>
    </div>
    <h2>Domains</h2>
    <div class="uk-accordion" data-uk-accordion="data-uk-accordion">
      <h3 class="uk-accordion-title">Spielen Domainerweiterungen eine wichtige Rolle?</h3>
      <div class="uk-accordion-content">
        <p>Länderspezifische Domainerweiterungen (.de, .fr etc.) können Ihnen helfen, bessere lokale Suchergebnisse in Ihrem Land zu bekommen. Es gibt aber keinerlei Vorteile, wenn Sie eine bestimmte Domain verwenden.</p>
      </div>
      <h3 class="uk-accordion-title">Sollte ich in „Exact-Match Domains“ investieren?</h3>
      <div class="uk-accordion-content">
        <p>Das sind Domains, die einem bestimmten Schlüsselwort oder Schlüsselphrase entsprechen.</p>
        <p>In der Vergangenheit waren diese Art der Domains tatsächlich sehr stark. Allerdings wurde Ihre Bedeutung in 2012 durch Veränderung der Suchalgorithmen deutlich herabgestuft. Eine kurze Domain, die man sich merken kann, ist also immer besser.</p>
      </div>
      <h3 class="uk-accordion-title">Ich habe meine Webseite gerade auf eine neue Domain umgezogen. Was sollte ich für SEO beachten?</h3>
      <div class="uk-accordion-content">
        <p>Der wichtigste Punkt ist „URL Redirection“. Verwenden Sie eine „301-Umleitung“, um Ihre Besucher von den alten Seiten zu den neuen Seiten umzuleiten. Sie können Google über einen Umzug informieren (Webmaster Tools).</p>
      </div>
    </div>
    <h2>Inhalte</h2>
    <div class="uk-accordion" data-uk-accordion="data-uk-accordion">
      <h3 class="uk-accordion-title">Sollte ich auf meiner Webseite mein Schlüsselwort singular oder plural benutzen?</h3>
      <div class="uk-accordion-content">
        <p>Wenn Sie einfach natürlich schreiben, benutzen Sie ohnehin beide Formen. Denken Sie daran, dass es wichtig ist, Ihre Besucher mit wertvollem Inhalt zu begeistern. Text, der für ein einfaches Schlüsselwort überoptimiert wurde, ist nicht einfach zu lesen. Denken Sie zuerst an Ihre Besucher und dann erst an die Suchmaschinen!</p>
      </div>
      <h3 class="uk-accordion-title">Was ist „Long Tail Traffic“?</h3>
      <div class="uk-accordion-content">
        <p>„Long Tail Traffic“ kommt von sehr speziellen Schlüsselworten. Statt „Photoshop Tutorial“ (Short Tail Keyword) erhalten Sie mehr Besucher mit „Photoshop Tutorial für Fotobearbeitung“ (Long Tail Traffic). Es ist klar, dass „Long Tail Traffic“ weniger Wettbewerb in den Schlüsselworten hat, als „Short Tail Traffic“.</p>
      </div>
      <h3 class="uk-accordion-title">Welche Meta Tags sollte ich einsetzen?</h3>
      <div class="uk-accordion-content">
        <p>Der Metatag für Schlüsselworte ist überflüssig geworden. Der „Meta Description Tag“ hingegen ist nach wie vor sehr wichtig, um Besucher auf Ihre Webseite zu bringen.</p>
      </div>
      <h3 class="uk-accordion-title">Was ist „suchmaschinenfreundliches Design“?</h3>
      <div class="uk-accordion-content">
        <p>Suchmachinen haben Schwierigkeiten, bestimmte Inhalte zu lesen (z. B. Bilder, Videos, Flash usw.). Ein suchmaschinenfreundliches Design ist eine Webseite, die von Suchmaschinen einfach gelesen und ausgewertet werden kann.</p>
      </div>
      <h3 class="uk-accordion-title">Ist der Umfang des Inhalts wichtig?</h3>
      <div class="uk-accordion-content">
        <p>Suchmaschinen bevorzugen längeren Inhalt (üblicherweise +300 Worte). Das heißt aber nicht, das kürzere Artikel schlechter bewertet werden. Es ist auf jeden Fall besser, wenn Sie sich auf die Qualität Ihres Inhaltes konzentrieren und nicht so sehr auf die Länge.</p>
      </div>
      <h3 class="uk-accordion-title">Wie kann ich Bilder optimieren?</h3>
      <div class="uk-accordion-content">
        <p>Es gibt 3 Wege für die Bilderoptimierung:</p>
        <ul>
          <li>Dateiname: Wählen Sie einen beschreibenden Dateinamen anstatt irgendwelcher Buchstaben und Zahlen.</li>
          <li>Alt Tag: Nutzen Sie auf jeden Fall die „Alt Tag“ für eine kurze Beschreibung des Bildes.</li>
          <li>Dateigrösse: Finden Sie das richtige Mass zwischen Dateigrösse und Qualität für bessere Ladezeiten.</li>
        </ul>
      </div>
      <h3 class="uk-accordion-title">Was ist „Duplicate Content“?</h3>
      <div class="uk-accordion-content">
        <p>„Duplicate Content“ ist genau das, was Sie denken: Zwei Seiten haben den gleichen Inhalt. In diesen Fällen zeigt Google sicher nicht beide Seiten in den Suchergebnissen. „Duplicate Content“ muss also auf jeden Fall vermieden werden.</p>
        <p>Sie erzeugen „Duplicate Content“ auch schnell unabsichtlich (z. B. die Druckversion einer Seite) durch falsche URL-Parameter, falsches Verlinken usw.</p>
      </div>
    </div>
    <h2>URL's</h2>
    <div class="uk-accordion" data-uk-accordion="data-uk-accordion">
      <h3 class="uk-accordion-title">Sollte ich absolute oder relative URLs für das interne Verlinken verwenden?</h3>
      <div class="uk-accordion-content">
        <p>Zum Beispiel:</p>
        <ul>
          <li>Absolute URL: _http://website.com/blog/page.html</li>
          <li>Relative URL: _/blog/page.html</li>
        </ul>
        <p>Relative URLs beinhalten die Domain einer Webseite nicht. Für SEO sind daher absolute URLs am besten.</p>
        <p>Der Unterstrich steht hier nur, damit die Beispiel-Links nicht als reale Links interpretiert werden.</p>
      </div>
      <h3 class="uk-accordion-title">Wie sollte ich Worte in einer URL aufteilen?</h3>
      <div class="uk-accordion-content">
        <p>Am besten benutzen Sie Bindestriche (-). Unterstriche (_) oder Pluszeichen (+) können Suchmaschinen schnell verwirren. Überhaupt keine Separatoren zu verwenden, ist ebenfalls keine gute Lösung.</p>
      </div>
      <h3 class="uk-accordion-title">Sollte ich Subdomains oder Unterordner benutzen?</h3>
      <div class="uk-accordion-content">
        <p>Am besten benutzen Sie Unterordner (Subfolder). Das kann die korrekte Indexierung Ihrer Webseite unterstützen. Wenn Sie mehrere Produkte haben, die nichts miteinander zu tun haben, können Sie auch Subdomains verwenden.</p>
      </div>
      <h3 class="uk-accordion-title">Kann Google dynamische URLs indexieren?</h3>
      <div class="uk-accordion-content">
        <p>Google hat eine lange Erfahrung mit der Indexierung von dynamischen URLs. In den meisten Fällen werden sie auch korrekt indexiert. Auf jeden Fall können Sie Google in dieser Hinsicht durch die Benutzung der Webmaster Tools ebenfalls helfen.</p>
        <p>Mehr Informationen über SEO-freundliche URLs: „How to Create an SEO-Friendly URL Structure, Part 4“.</p>
      </div>
    </div>
  </div>
</section>