section.kontaktformular-section
  .uk-container.uk-container-center.uk-margin-top.uk-margin-bottom
    .uk-grid.kontaktformular
      .uk-width-medium-2-3
        h2
          i.icon.uk-icon-phone.uk-icon-medium
          | Kontaktüberschrift!
        p.uk-h2
          span.uk-h2 {{ site.owner.mobile }}
          |  oder
          span.uk-h2 {{ site.owner.phone }}
        p.uk-h3
          | Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Etiam rhoncus. Cras varius. Pellentesque ut neque. Praesent nonummy mi in odio.
        p.uk-h3
          | Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Aenean massa. Phasellus gravida semper nisi. Quisque id odio.
        img(src='/assets/images/{{ site.owner.avatar }}', alt='Avatar von {{ site.owner.name }}')
        p
          | Wenn Sie das Kontaktformular nicht nutzen möchten, können Sie mir auch direkt eine Email schreiben:
        p.uk-h2.email-leo
          <a href="{{ site.owner.email-encrypted }}">Email an {{ site.owner.name }}</a>
      .uk-width-medium-1-3(role='form')
        // http://flipmail.co/setup
        form#contactform(method='post', action='//flipmail.co/api/{{ site.owner.flipmail }}')
          p
            | Name (Pflichtfeld)
            br
            span.your-name
              input(type='hidden', name='_valid[name]', value='required')
              input(type='text', name='name', size='40', aria-required='true', aria-invalid='false', placeholder='Ihr Name')
          p
            | E-Mail (Pflichtfeld)
            br
            span.your-email
              input(type='hidden', name='_valid[email]', value='required|valid_email')
              input(type='email', name='email', size='40', aria-required='true', aria-invalid='false', placeholder='Ihre Emailadresse')
          p
            | Ihre Nachricht
            br
            span.your-message
              input(type='hidden', name='_valid[message]', value='required')
              textarea(name='message', cols='40', rows='21', aria-invalid='false', placeholder='Wäre schön, wenn Sie hier etwas reinschreiben')
          p
            button.uk-button(type='submit') Abschicken
          input(type="hidden" name="_after" value="{{ site.url }}/danke")
